/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


.home .hero .action-button
  background-color #1665d8!important

iframe{
   /* 隐藏 Chrome、Safari 和 Opera 的滚动条 */
  ::-webkit-scrollbar {
    display: none!important;
  }
  -ms-overflow-style: none!important; /* IE and Edge */
  scrollbar-width: none!important; /* Firefox */
  box-shadow: 0 0 10px 1px #e8effb;
border: none;
}
.demo-content {
  box-shadow: 0 0 10px 1px #e8effb!important;
border: none!important;
}
